/* .user {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap:wrap;
   
    
}
.user-info {

    border: 1px solid black;

} */