.ec.main {
    background: #ffffff url("./imgs/bg1.jpg")  no-repeat right top ;
    background-size: cover;
    height: 100vh;
    margin-top: -2%;
}
.ec.main h1 {
    padding: 2%;
    color :whitesmoke;
    background-color: rgba(0, 5, 9, 0.259);
}
.ec.btn-primary {
    text-align: center;
    width: 100%;
}
.ec.card-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ec.card {
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.688);
    color: rgb(18, 0, 0);
    /* border: 5px double rgba(1, 53, 15, 0.329); */
}