
.filter-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    background-color: #212529
}
.filter-bar p {
margin: 1% 1%;
color: rgb(255, 255, 255,0.55);
}
.filter-bar select {
    margin-right:10px;
    margin-left:10px;
}

    .oc.card-group{
    
        height: 100vh;
        background: #ffffff url("./imgs/bg1.jpg")  no-repeat right top ;
        background-size: cover;
}
.oc h1 {
    color: rgb(5, 0, 0);
    background-color: rgba(240, 248, 255, 0.076);
    text-align: center;

}
.oc.main-container {
    margin:0;
}
.oc.card {
    background-color: rgba(255, 255, 255, 0.448);
    color: rgb(18, 0, 0);
    border: 5px double rgba(1, 53, 15, 0.329);
    
}
.text-muted p {
    color: rgb(115, 7, 7);
}
.oc.btn {
    width: 100%;
}